{% extends "adminparent.html" %}
{% block body %}
    <div class="row">
        <h1 style="text-align:center;">View Customer</h1>
        <div class="col-sm-12" style="overflow-x:scroll;">
            <table class="table table-bordered text-light">
                <tr>
                    <th>Name</th>
                    <th>Contact No</th>
                    <th>Email Address</th>
                    <th>Date of birth</th>
                    <th>Gender</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip Code</th>                   
                </tr>
                {% for s in cust %}
                    <tr>
                        <td>{{s.name}}</td>
                        <td>{{s.contactno}}</td>
                        <td>{{s.emailaddress}}</td>
                        <td>{{s.dob}}</td>
                        <td>{{s.gender}}</td>
                        <td>{{s.address}}</td>
                        <td>{{s.city}}</td>
                        <td>{{s.state}}</td>
                        <td>{{s.zipcode}}</td>                        
                    </tr>
                {% endfor %}
            </table>                 
        </div>
    </div>
{% endblock body %}
